<!-- Begin Scene -->
<div class="grid wide account">
  <div class="row">
      <div class="col l-12">
          <div class="option-heading">
              <h3>{{detailsPost.Title}}</h3>
          </div>    
      </div>
  </div>
  <div class="row">
    <div class="col l-12">
        <div class="post-time">
          <span><i class="fas fa-eye"></i> {{detailsPost.Views}}</span>
          <span><i class="fas fa-user-plus" aria-hidden="true"></i> {{detailsPost.FullName}}</span>
          <span><i class="fa fa-calendar" aria-hidden="true"></i> {{#format_date_time detailsPost.TimePublish}}{{/format_date_time}}</span>
          <span><a href="/category?id={{detailsPost.IDCategory}}">{{detailsPost.NameCate}}</a></span>
          <span><a href="/place?id={{detailsPost.IDSubCategory}}">{{detailsPost.NameSub}}</a></span>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col l-3">
          <div class="option-settings">
              <h4 class="option-settings__title">Các tỉnh nổi bật</h4>
              <ul class="option-settings-list">
                  {{#each listCate}}
                  <li class="option-settings__item">
                      <a class="option-settings__item--link" 
                      href="/category?id={{IDCategory}}">{{CategoryName}} <span {{#unless Number}}style="color:black"{{else}}style="color:red"{{/unless}}>({{Number}})</span></a>
                  </li>
                  {{/each}}
              </ul>
          </div>
      </div>
      <div class="col l-9">
        <hr>
          <div class="option-contents">
            {{{detailsPost.Content}}}
          </div>
      </div>
  </div>
  </div>
</div>
<!-- End Scene -->

{{!-- Bài viết liên quan --}}
<section>
<div class="grid wide">
    <h3 class="art-heading">Bài viết liên quan</h3>
    <hr>
    <div class="row">
        {{#if listArticle}}
        {{#each listArticle}}
        <div class="col l-4">
            <a href="/details?id={{IDArticle}}" class="post-item post-item--small">
                <div class="post-item__img">
                    <img 
                        src="../../public/images/{{#if Avatar}}{{Avatar}}{{else}}default.png{{/if}}" 
                        alt="Background">
                </div>  
                <div class="post-info">
                    <div class="">
                        <h3 class="post-info__heading">{{Title}}</h3>
                        {{!-- <p class="post-info__paragraph">
                        {{Abstract}}   
                        </p> --}}
                    </div>
                </div>
                <div class="post-info-avt">
                    <img src="../../public/images/{{#if avtWriter}}{{avtWriter}}{{else}}user.png{{/if}}" alt="{{FullName}}">
                </div>
                <div class="post-time">
                    <span class="post-time-item">
                        <i class="fas fa-eye"></i> {{Views}}
                    </span>
                    {{!-- <span class="post-time-item">
                        {{#format_date_time TimePublish}}{{/format_date_time}}
                    </span> --}}
                    <span class="post-time-item">
                        {{SubCategoryName}}
                    </span>
                </div>
            </a>
        </div>
        {{/each}}
        {{else}}
        Không có bài viết liên quan
        {{/if}}
    </div>
</div>
</section>

</section>