<!-- Begin Slider -->
    <div class="grid slider">
        <div class="row">
            <div class="col l-4 slider-box">
                <div class="slider-box__upload">
                    <a href="#"><span><i class="fas fa-plus"></i> Tạo bài viết riêng</span></a>
                </div>
                <div class="slider-box__search">
                    <h3 class="slider-box__heading">
                        Khám phá theo cách của bạn
                    </h3>
                    <form action="" class="slider-box__form">
                        <input type="text" class="slider-box__search--input"
                        placeholder="Địa điểm ...">
                        <button type="submit" class="slider-box__search--btn"><i class="fas fa-search-location"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div id="slider__previous" class="slider__previous">
            <i class="slider__previous-icon fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div id="slider__next" class="slider__next">
            <i class="slider__next-icon fa fa-chevron-right" aria-hidden="true"></i>
        </div>

        <div class="slider-dot">
            <input id="slider-dot-1" type="radio" value="0" name="slides" checked>
            <input id="slider-dot-2" type="radio" value="1" name="slides">
            <input id="slider-dot-3" type="radio" value="2" name="slides">
            <input id="slider-dot-4" type="radio" value="3" name="slides">
            <input id="slider-dot-5" type="radio" value="4" name="slides">
            <label class="slider-dot-label slider-dot-label--checked" for="slider-dot-1"></label>
            <label class="slider-dot-label" for="slider-dot-2"></label>
            <label class="slider-dot-label" for="slider-dot-3"></label>
            <label class="slider-dot-label" for="slider-dot-4"></label>
            <label class="slider-dot-label" for="slider-dot-5"></label>
        </div>

    </div>
    <!-- End Slider -->
<!-- Begin Theme -->
    <section class="grid wide section-container theme">
        <div class="row">
            <div class="col l-3">
                <div class="theme-item">
                    <div class="theme-item__img">
                        <a href="#" class="theme-item__link theme-item__link--icon-00">
                            <i class="theme-item__link--icon"></i>
                        </a>
                    </div>
                    <div class="theme-item__text">
                        <h3 class="theme-item__text--heading">Cảm hứng</h3>
                        <caption class="theme-item__text--caption">
                            Vi vu khám phá với hơn 30,000 điểm đến tại Gody và đánh giá chi tiết từ thành viên.
                        </caption>    
                    </div>
                </div>
            </div>
            <div class="col l-3">
                <div class="theme-item">
                    <div class="theme-item__img">
                        <a href="#" class="theme-item__link">
                            <i class="theme-item__link--icon theme-item__link--icon-01"></i>
                        </a>
                    </div>
                    <div class="theme-item__text">
                        <h3 class="theme-item__text--heading">Lập hành trình</h3>
                        <caption class="theme-item__text--caption">
                            Tiện lợi, dễ dàng, tiết kiệm thời gian với khả năng lập hành trình du lịch chi tiết.
                        </caption>    
                    </div>
                </div>
            </div>
            <div class="col l-3">
                <div class="theme-item">
                    <div class="theme-item__img">
                        <a href="#" class="theme-item__link">
                            <i class="theme-item__link--icon theme-item__link--icon-02"></i>
                        </a>
                    </div>
                    <div class="theme-item__text">
                        <h3 class="theme-item__text--heading">Tiện ích</h3>
                        <caption class="theme-item__text--caption">
                            Hỗ trợ cho bạn các dịch vụ du lịch tốt nhất trên khắp các điểm đến.
                        </caption>    
                    </div>
                </div>
            </div>
            <div class="col l-3">
                <div class="theme-item">
                    <div class="theme-item__img">
                        <a href="#" class="theme-item__link">
                            <i class="theme-item__link--icon theme-item__link--icon-03"></i>
                        </a>
                    </div>
                    <div class="theme-item__text">
                        <h3 class="theme-item__text--heading">Cảm hứng</h3>
                        <caption class="theme-item__text--caption">
                            Cùng giữ lại những kỉ niệm, khoảnh khắc và trải nghiệm du lịch tuyệt vời nhất.
                        </caption>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Theme -->
<!-- Begin Content -->
    <section class="grid wide section-container content">
        <div class="row">
            <div class="title">
                <h2 class="title__heading">Cảm hứng du lịch</h2>
                <span class="title__caption">Những bài viết - khoảnh khắc độc đáo</span>
            </div>
        </div>
        <!-- Begin Section Blog -->
        <div class="title-sub">
            <h3 class="title-sub__heading">Lượt xem cao nhất</h3>
        </div>
        <div class="post">
            <div class="row">
                {{#if listTop3Views}}
                <!-- 3 Item Big -->
                <div class="post-item--big">
                    {{#each listTop3Views}}
                    <div class="col l-4">
                        <a href="/details?id={{IDArticle}}" class="post-item">
                            <div class="post-item__img">
                                <img 
                                src="../../public/images/{{#if Avatar}}{{Avatar}}{{else}}default.png{{/if}}" 
                                alt="Background">
                            </div>  
                            <div class="post-info">
                                <div class="">
                                    <h3 class="post-info__heading">{{Title}}</h3>
                                    <p class="post-info__paragraph">
                                        {{Abstract}}
                                    </p>
                                </div>
                            </div>
                            <div class="post-info-avt">
                                <img src="../../assets/resources/img/user/{{#if avtWriter}}{{avtWriter}}{{else}}user.png{{/if}}" alt="{{FullName}}">
                            </div>
                            <div class="post-time">
                                <span class="post-time-item">
                                    <i class="fas fa-eye"></i> {{Views}}
                                </span>
                                <span class="post-time-item">
                                    {{#format_date_time TimePublish}}{{/format_date_time}}
                                </span>
                                <span class="post-time-item">
                                    {{SubCategoryName}}
                                </span>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
                <!-- 8 Item Small -->
                {{#each listTop8ViewsLast}}
                <div class="col l-3">
                    <a href="/details?id={{IDArticle}}" class="post-item post-item--small">
                        <div class="post-item__img">
                            <img 
                                src="../../public/images/{{#if Avatar}}{{Avatar}}{{else}}default.png{{/if}}" 
                                alt="Background">
                        </div>  
                        <div class="post-info">
                            <div class="">
                                <h3 class="post-info__heading">{{Title}}</h3>
                                <p class="post-info__paragraph">
                                {{Abstract}}   
                                </p>
                            </div>
                        </div>
                        <div class="post-info-avt">
                            <img src="../../assets/resources/img/user/{{#if avtWriter}}{{avtWriter}}{{else}}user.png{{/if}}" alt="{{FullName}}">
                        </div>
                        <div class="post-time">
                            <span class="post-time-item">
                                <i class="fas fa-eye"></i> {{Views}}
                            </span>
                            <span class="post-time-item">
                                {{#format_date_time TimePublish}}{{/format_date_time}}
                            </span>
                            <span class="post-time-item">
                                {{SubCategoryName}}
                            </span>
                        </div>
                    </a>
                </div>
                {{/each}}
                {{else}}
                Không có bài viết
                {{/if}}
            </div>
        </div>
        <!-- End Section Blog -->
    </section>
    <!-- End Content -->


    <!-- Begin Place -->
    <section class="grid wide section-container place">
        <div class="row">
            <div class="title">
                <h2 class="title__heading">Điểm đến nổi bật</h2>
                <span class="title__caption">Khám phá điểm đến tiếp theo cho hành trình tuyệt vời của bạn</span>
            </div>
        </div>
        <!-- Begin Section Blog -->
        <div class="title-sub">
            <h3 class="title-sub__heading">Du lịch Việt Nam</h3>
        </div>
        <div class="post">
            <div class="row">
                <!-- 12 Item Small -->
                {{#if listTop12Place}}
                {{#each listTop12Place}}
                <div class="col l-3">
                    <a href="#" class="post-item place-item">
                        <div class="post-item__img">
                            <img src="../../public/images/{{#if Avatar}}{{Avatar}}{{else}}default.png{{/if}}" alt="First item">
                        </div>  
                        <div class="place-info">
                            <h3 class="place-info__heading">{{CategoryName}}</h3>
                            <p class="place-info__score">
                                <span class="place--number">{{count}}</span> điểm tham quan
                            </p>
                        </div>
                    </a>
                </div>
                {{/each}}
                {{else}}
                Không có dữ liệu
                {{/if}}
                <!-- end 12 item -->
            </div>
        </div>
        <!-- End Section Blog -->
    </section>
    <!-- End Content -->

    <script src="./../../assets/resources/js/slider.js"></script>